@use "../../../../styles/tokens/breakpoints" as *;

.crew-card__content {
  display: flex;
  flex-direction: column;
}
.crew-card__picture {
  position: relative;
  display: flex;
  justify-content: center;

  &::after {
    content: "";

    position: absolute;
    width: 100%;
    bottom: 0;

    pointer-events: none;
    height: var(--space-120);

    background: linear-gradient(
      to bottom,
      rgba(11, 13, 23, 0) 60%,
      rgba(11, 13, 23, 0.6) 80%,
      rgba(11, 13, 23, 1) 100%
    );
  }
}

.crew-card__image {
  object-fit: contain;
}

.crew-card__role {
  font-family: var(--font-heading);
  font-size: clamp(var(--text-sm), var(--fluid-space-md), var(--text-sm));
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: var(--space-16);
  color: var(--color-white);
  font-feature-settings:
    "liga" off,
    "clig" off;

  font-style: normal;
  font-weight: 400;
  line-height: normal;

  opacity: 0.5;
}
.crew-card__name {
  font-family: var(--font-heading);
  font-size: clamp(var(--text-md), var(--fluid-space-md), var(--text-md));
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: var(--space-16);
  color: var(--color-white);
  font-feature-settings:
    "liga" off,
    "clig" off;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.crew-card__bio {
  margin-bottom: var(--space-40);

  font-family: var(--font-body);
  font-size: clamp(var(--text-nav), var(--fluid-space-sm), var(--text-body));
  color: var(--color-light);
  line-height: 180%;
}

.crew-card {
  padding-bottom: var(--space-80);
}
@media (max-width: $max-tablet) {
  .crew-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .crew-card__text {
    margin-top: var(--space-64);
  }
  .crew-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .crew-card__title {
    margin-bottom: var(--space-36);
  }
}
@media (min-width: $bp-desktop) {
  .crew-card__title {
    margin-bottom: var(--space-64);
  }
  .crew-card {
    display: grid;
    grid-template-columns: 1.15fr 0.95fr;
    align-items: flex-start;
    gap: var(--space-120);
  }
  .crew-card__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .crew-card__text {
    margin-top: auto;
    margin-bottom: auto;
  }
  .crew-card__picture {
    height: var(--space-448);
  }
  .crew-card__image {
    height: 100%;
    width: auto;
  }
  app-crew-dots {
    margin-top: auto;
  }
}
