:root {
  /* base colors */

  --color-dark: #0b0d17;
  --color-light: #d0d6f9;
  --color-white: #ffffff;

  /* borders */

  --color-border: rgba(255, 255, 255, 0.25);
  --color-hover: rgba(255, 255, 255, 0.5);

  /* overlays */

  --overlay-dark: rgba(0, 0, 0, 0.35);

  /* glass backgrounds */

  --glass-dark: rgba(11, 13, 23, 0.15);
  --glass-light: rgba(255, 255, 255, 0.05);

  /* explore button hover */
  --color-explore-hover: rgba(255, 255, 255, 0.15);
}
