:root {
  /* fluid spacing */

  --fluid-space-xsm: 4vw;
  --fluid-space-sm: 8vw;
  --fluid-space-md: 10vw;
  --fluid-space-lg: 20vw;
  --fluid-space-extralg: 75vw;

  /* fluid typography */

  --fluid-text-xl: 14vw;

  /* fluid components */
  --fluid-width-30: 30vw;
  --fluid-size-lg: 28vw;
  --fluid-height-100dvh: 100dvh;
}
