:root {
  --font-heading: "Bellefair", serif;
  --font-nav: "Barlow Condensed", sans-serif;
  --font-body: "Barlow Condensed", sans-serif;

  --text-xl: 150px;
  --text-lg: 100px;
  --title-tabl: 80px;
  --text-md: 56px;
  --text-sm: 32px;
  --text-xs: 28px;
  --text-accent-xs: 20px;
  --text-body: 18px;
  --text-nav: 16px;
}
