<div class="destination-card">
  <picture class="destination-card__picture">
    <source [srcset]="destination.images.webp" type="image/webp" />

    <img
      class="destination-card__image"
      [src]="destination.images.png"
      [alt]="destination.name"
      loading="eager"
      decoding="async"
    />
  </picture>
  <div class="destination-card__content" aria-live="polite">
    <app-destination-tabs
      [destinations]="destinations"
      [activeIndex]="activeIndex"
      (select)="select.emit($event)"
    >
    </app-destination-tabs>
    <h2 class="destination-card__title">
      {{ destination.name }}
    </h2>

    <p class="destination-card__description">
      {{ destination.description }}
    </p>

    <dl class="destination-card__meta">
      <div class="destination-card__meta-item">
        <dt class="destination-card__label">Avg. distance</dt>
        <dd class="destination-card__value">{{ destination.distance }}</dd>
      </div>

      <div class="destination-card__meta-item">
        <dt class="destination-card__label">Est. travel time</dt>
        <dd class="destination-card__value">{{ destination.travel }}</dd>
      </div>
    </dl>
  </div>
</div>
